.header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    z-index: 1000;
}

.header .homeButton {
    margin-right: auto;
    padding: 8px 16px;
    background-color: #3d3d3d3c;
    color: var(--text-color-white);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.header .homeButton:hover {    
    background-color: var(--primary-color-dark);
    color: var(--text-color-white);
}