.genres {
    padding: 0 1rem;
}

.genreList {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    list-style: none;
    margin: 1rem 0;
}

.genreList li {
    padding: .8rem 1.6rem;
    border: 0.1px solid #232323;
    border-radius: var(--border-radius);
    color: var(--text-color-white);
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.genreList li:hover {
    background-color: var(--primary-color-600);
    color: var(--text-color-dark);
}

.activeGenre {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
}

.genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.genres .genre {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.genres .genre .genreMovies {
    display: flex;
}

@media (max-width: 768px) {
    .genres .genre {
        width: 100%;
    }
}