.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(45, 45, 45, 0.575);
    padding: 1rem 0;
    margin: 0 1rem;
    border-radius: var(--border-radius);
}

.list .listContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

@media (max-width: 768px) {
    .list .listContainer {
        width: 100%;
    }
}