.homeContainer {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    z-index: 1000;
}

/* HERO */

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.hero .overlay .textContainer {
    color: var(--text-color-white);
    text-align: left;
    width: 45%;
}

.hero .overlay .textContainer .title {
    font-size: 7rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.hero .overlay .textContainer .description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.button {
    width: 20rem;
}

@media (max-width: 768px) {
    .hero {
        height: 80vh;
    }

    .hero .overlay .textContainer {
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero .overlay .textContainer .title {
        font-size: 4rem;
    }

    .hero .overlay .textContainer .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .hero .overlay .textContainer .title {
        font-size: 4rem;
    }

    .hero .overlay .textContainer .description {
        font-size: 1rem;
    }
}

/* LIST */

/* GENRES */

.genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.genres .genre {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.genres .genre .genreMovies {
    display: flex;
}

@media (max-width: 768px) {
    .genres .genre {
        width: 100%;
    }
}

/* SOON */

.soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.soon .soonContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.soon .soonContainer .soonMovies {
    display: flex;
}

@media (max-width: 768px) {
    .soon .soonContainer {
        width: 100%;
    }
}

/* FOOTER */

/* USER SIDEBAR */

.sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebarContent h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebarContent .sidebarGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background-color: #232323;
}

.sidebarContent .sidebarGroup a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-white);
    cursor: pointer;
    text-decoration: none;
}

.sidebarContent .sidebarGroup svg {
    fill: var(--text-color-white);
}

.sidebarContent .sidebarGroup a:hover {
    color: var(--primary-color-light);
}

.sidebarContent .sidebarGroup a:hover svg {
    fill: var(--primary-color-light);
    transition: fill var(--transition-speed);
}

.sidebarContent .sidebarButton {
    margin-top: 10px;
    padding: 8px 20px;
}