
.sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebarContent h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebarContent .sidebarGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background-color: #232323;
}

.sidebarContent .sidebarGroup a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-white);
    cursor: pointer;
    text-decoration: none;
}

.sidebarContent .sidebarGroup svg {
    fill: var(--text-color-white);
}

.sidebarContent .sidebarGroup a:hover {
    color: var(--primary-color-light);
}

.sidebarContent .sidebarGroup a:hover svg {
    fill: var(--primary-color-light);
    transition: fill var(--transition-speed);
}

.sidebarContent .sidebarButton {
    margin-top: 10px;
    padding: 8px 20px;
}