.indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicators .indicator {
    width: 15%;
    max-width: 100px;
    height: 15px;
    background-color: #a4a4a440;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.indicators .indicator:hover {
    background-color: var(--primary-color-600);
    opacity: 0.5;
}

.indicators .indicator.active {
    background-color: var(--primary-color);
    opacity: 0.5;
}